page-main {

    ion-icon{
        font-size: 30px;
            margin-top: 11px;
    }
    
#grid{
    background-color:rgb(221, 230, 240);
        
    
    ion-icon{
        font-size: 45px;
        margin-top: 25px;
        
        margin-left: 35%;
    
    }
}
ion-grid{
   margin-top: 75%;;
   padding-right:-20px;
   padding-bottom: 5px;
   padding-left: 10px;
    
}
.div{
    padding-left: 18px;
    background:rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    
    border-radius: 10px;
    height: 150px;
    width: 100%;
    margin-left: 1px;
    
    box-shadow: 5px 5px 5px  rgb(221, 221, 221);
    
  
}



.ion-item{
   padding-top: 40px;
}
.button{
    background:rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    height: 70px;
    border-radius: 10px;
    width: 100%;
    margin-left: 3px;
    font-size: 29px;
    text-align: center;
    box-shadow: 5px 5px 5px  rgb(221, 221, 221);
}

h3{
    text-align: center;
    margin-left: -5%;
}
}
